@model List<BlogDataModel>

@{
    ViewData["Title"] = "BlogAjax";
    int count = 0;
}
<a href="/BlogAjax/Create" class="btn btn-success">New</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Action</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Content</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/BlogAjax/Edit/@item.Blog_Id" class="btn btn-warning">Edit</a>
                    <button type="button" class="btn btn-danger btn-delete" data-blog-id="@item.Blog_Id"> Delete</button>
                    @* if other variable is used in program.cs [   pattern: "{controller=Home}/{action=Index}/{id?}");] delare in above code
                <a href="/Blog/Delete?blogId/@item.Blog_Id" class="btn btn-danger">Delete</a>
                *@
                </td>
                <th scope="row">@(++count)</th>
                <td>@item.Blog_Title</td>
                <td>@item.Blog_Author</td>
                <td>@item.Blog_Content</td>
            </tr>
        }

    </tbody>
</table>
@* Delete button can not use id use classs*@
@section scripts {
    <script>
        $('.btn-delete').click(function (e) {
            let result = confirm("Are you sure want to delete?");
            if (!result) return;
            let blogId = $(this).data('blog-id');
            // Move these lines inside the click event handler
           
            let _requestModel = {
                Blog_Id:blogId,
            };

            $.ajax({
                type: "POST",
                url: '/BlogAjax/Delete',
                data: { requestModel: _requestModel },
                dataType: "json",
                // contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log({ data });
                    alert(data.message);
                    location.href = "/BlogAjax"
                },
                error: function (response) {
                    // Corrected the syntax error here
                    var r = jQuery.parseJSON(response.responseText);
                    console.log("Message: " + r.Message);
                    console.log("StackTrace: " + r.StackTrace);
                    console.log("ExceptionType: " + r.ExceptionType);
                }

            });
        })
    </script>
}
